@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Raleway&display=swap');

body {
  font-family: Raleway, sans-serif;
  background-color: white;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-size: 3em;
}

/* ---------------------------------------------------------------
 Common Header 
----------------------------------------------------------------*/

header {
  margin-bottom: 10px;
  margin-right: 20px;
  margin-left: 20px;
}

nav {
  display: grid;
  grid-template-columns: 70px 110px 150px 1fr 150px;  
  align-items: center;  
}

a:link, a:visited {
  text-decoration: none;
  color: #648DE5;
}

.logo-img {
  grid-column: 1/2;
  padding: 0.6em;
}

.logo-text-synthetic {
  grid-column: 2/3;
  font-weight: bold;
  font-size: 1.5em;
  justify-self: end;
}

.logo-text-software {
  grid-column: 3/4;
  font-weight: bold;
  font-size: 1.5em;
}

.portfolio-link {
  grid-column 4/5;
  justify-self: end;
}

.contact-link {
  grid-column 5/6;
  justify-self: center;
  color: #212529;
}

/* ---------------------------------------------------------------
 Home page 
----------------------------------------------------------------*/

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

/* ---------------------------------------------------------------
 Mission statement 
----------------------------------------------------------------*/

.mission {
  grid-column: 1/2;
  text-align: center;
  position: relative;
}

.mission-img {
  opacity: 0.3;
}

.mission-text {
  font-family: Raleway, san-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* ---------------------------------------------------------------
 Word definition
----------------------------------------------------------------*/

.definition-block {
  grid-column: 2/3;
  border-top: 2px solid #212529;
  border-bottom: 2px solid #212529;
  align-self: center;
  margin: 150px;
}

.word {
  font-family: 'Playfair Display', serif;
  font-size: 4em;
}

.word-type {
  font-family: 'Playfair Display', serif;
  font-size: 2.5em;
  font-style: italic;
  color: #304C89;
  margin-left: 10px;
}

.pronunciation {  
  font-family: Raleway, san-serif;
  font-size: 2em;
  color: #304C89;
}

.definition {
  font-family: Raleway, san-serif;
  font-size: 1.5em;
  color: #212529;    
}

/* ---------------------------------------------------------------
 What we do
----------------------------------------------------------------*/

.what-definition {
  grid-column: 1/2;
  grid-row: 2/3;
  font-size: 1.75em;
  align-self: center;
  color: #212529;
  border-top: 2px solid #212529;
  border-bottom: 2px solid #212529;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 100px;
}

.what-block {
  grid-column: 2/3;
  grid-row: 2/3;    
  text-align: center;
}

.what-img {
  opacity: 0.9;
}

/* ---------------------------------------------------------------
 Common footer
----------------------------------------------------------------*/

footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: end;
  margin-top: 50px;
  margin-right: 20px;
  margin-left: 20px;
}

.social {
  grid-column: 3/4;  
}

.site-plan {
  justify-self: center;
}

.copyright {
  justify-self: start;
}

/* ---------------------------------------------------------------
 Portfolio page 
----------------------------------------------------------------*/

.portfolio {
  display: grid;
  grid-template-columns: 1fr 1fr;
  
}

/* ---------------------------------------------------------------
 Portfolio heading 
----------------------------------------------------------------*/

.portfolio-heading {
  grid-column: 1/3;
  grid-row: 1/2;
  text-align: center;
  position: relative;
  margin: 30px;
}

.portfolio-img {
  opacity: 0.2;
  width: 1400px; /* width of container */
  height: 300px; /* height of container */
  object-fit: cover;
  object-position: 20% 10%; 
}

.portfolio-text {
  font-size: 5em;
  color: black;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* ---------------------------------------------------------------
 Portfolio list
----------------------------------------------------------------*/

.portfolio-container {
  grid-column: 1/3;
  grid-row: 2/3;
  margin-left: 30px;
}

.portfolio-list {
  display: grid;
  grid-template-columns: 75px 1fr;
  align-items: center;
  grid-gap: 10px;
}

/* ---------------------------------------------------------------
 Portfolio item 1
----------------------------------------------------------------*/

.portfolio-item-1-img {
  grid-column: 1/2;
  grid-row: 1/2;
}

.portfolio-item-1-title {
  grid-column: 2/3;
  grid-row: 1/2;
  font-size: 1.5em;
}

.portfolio-item-1-text {
  grid-column: 2/3;
  grid-row: 2/3;
  line-height: 1.6;
  padding-right: 80px;
}

/* ---------------------------------------------------------------
 Portfolio item 2
----------------------------------------------------------------*/

.portfolio-item-2-img {
  grid-column: 1/2;
  grid-row: 3/4;
}

.portfolio-item-2-title {
  grid-column: 2/3;
  grid-row: 3/4;
  font-size: 1.5em;
}

.portfolio-item-2-text {
  grid-column: 2/3;
  grid-row: 4/5;
  line-height: 1.6;
  padding-right: 80px;
}

/* ---------------------------------------------------------------
 Portfolio item 3
----------------------------------------------------------------*/

.portfolio-item-3-img {
  grid-column: 1/2;
  grid-row: 5/6;
}

.portfolio-item-3-title {
  grid-column: 2/3;
  grid-row: 5/6;
  font-size: 1.5em;
}

.portfolio-item-3-text {
  grid-column: 2/3;
  grid-row: 6/7;
  line-height: 1.6;
  padding-right: 80px;
}

/* ---------------------------------------------------------------
 Portfolio item 4
----------------------------------------------------------------*/

.portfolio-item-4-img {
  grid-column: 1/2;
  grid-row: 7/8;
}

.portfolio-item-4-title {
  grid-column: 2/3;
  grid-row: 7/8;
  font-size: 1.5em;
}

.portfolio-item-4-text {
  grid-column: 2/3;
  grid-row: 8/9;
  line-height: 1.6;
  padding-right: 80px;
  margin-bottom: 50px;
}

/* ---------------------------------------------------------------
 Portfolio item 5
----------------------------------------------------------------*/

.portfolio-item-5-img {
  grid-column: 1/2;
  grid-row: 9/10;
}

.portfolio-item-5-title {
  grid-column: 2/3;
  grid-row: 9/10;
  font-size: 1.5em;
}

/* ---------------------------------------------------------------
 Call to action
----------------------------------------------------------------*/

.call-to-action {
  grid-column: 1/3;  
  text-align: center;
  position: relative;
  margin: 30px;
}

.call-to-action-img {
  opacity: 0.5;
  width: 500px; /* width of container */
  height: 500px; /* height of container */
  object-fit: cover;
  object-position: 0% 75%; 
  
}

.call-to-action-text {
  width: 200px;
  font-size: 2em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-left: 10px;
}

/* ---------------------------------------------------------------
 Media Queries
----------------------------------------------------------------*/

@media screen and (max-width: 1250px) {
  main {
    display: block;
  }
}