@import url('https://fonts.googleapis.com/css2?family=Raleway:400,700');
@import url('https://fonts.googleapis.com/css2?family=Playfair:400,700');

body {
  font-family: Raleway, Arial, sans-serif;
  background-color: white;
  padding-right: 20px;
  padding-left: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Playfair, Helvetica, serif;
  font-size: 2em;
  color: #FFBA08;
  border-bottom: 3px solid;
  padding-bottom: 2px;
  margin-left: 5px;
  margin-right: 5px;
}

/* ---------------------------------------------------------------
 Common Header 
----------------------------------------------------------------*/

header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;  
  align-items: center;
  margin-bottom: 10px;
}

.logo-img {
  grid-column: 1/2;
  background-color: white;
  padding: 0.6em;
}
.logo-text {
  grid-column: 2/3;
}
.potfolio-link {
  grid-column 4/5;
}
nav ul {
  grid-column: 3/4;
  list-style-type: none;
  margin: 0;
  display: grid;
  grid-column: 2/3;
}
